/*h1 {
  font-family: 'Tangerine', cursive;
  color: rgb(53, 129, 132);
  text-align: center;
  font-size: 8rem;
}

#date {
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  color: rgb(53, 129, 132);
  text-align: center;
  font-size: 2rem;
}*/

body {
  font-family: 'Quicksand', sans-serif;
}

.divider {                /* minor cosmetics */
    display: table;
    font-size: 24px;
    text-align: center;
    width: 75%;             /* divider width */
    margin: 40px auto;          /* spacing above/below */
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 17px;              /* adjust vertical align */
    -moz-background-size: 100% 2px;   /* line width */
    background-size: 100% 2px;      /* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {       /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(rgb(50, 50, 50)));
    background-image: -webkit-linear-gradient(180deg, transparent, rgb(80, 80, 80));
    background-image: -moz-linear-gradient(180deg, transparent, rgb(80, 80, 80));
    background-image: -o-linear-gradient(180deg, transparent, rgb(80, 80, 80));
    background-image: linear-gradient(90deg, transparent, rgb(80, 80, 80));
}
.divider span:nth-child(2) {
    font-weight: lighter; color: rgb(80, 80, 80); padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {        /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(80, 80, 80)), to(transparent));
    background-image: -webkit-linear-gradient(180deg, rgb(80, 80, 80), transparent);
    background-image: -moz-linear-gradient(180deg, rgb(80, 80, 80), transparent);
    background-image: -o-linear-gradient(180deg, rgb(80, 80, 80), transparent);
    background-image: linear-gradient(90deg, rgb(80, 80, 80), transparent);
}

.programme-full {
  display: flex;
  justify-content: space-around;
}

#image-programme {
  height: 85vh;
  width: auto;
  padding: 2rem;
}

.custom-btn {
  background-color: rgb(53, 129, 132);
  border: 1px solid rgb(53, 129, 132);
  color: white;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 11px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin-top: 1rem;
}

.custom-btn:hover {
  background-color: white;
  border: 1px solid rgb(53, 129, 132);
  color: rgb(53, 129, 132);
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 11px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin-top: 1rem;
  text-decoration: none;
  transition-duration: 0.7s;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: 100%;
}

.banner h1 {
  font-family: 'Tangerine', cursive;
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 5rem;
}

.banner h2 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 19px;
  font-weight: lighter;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


#jb {
  text-decoration: none;
  color: black;
}

#jb:hover {
  text-decoration: none;
}

#text-div {
/*  text-align: justify;*/
  display: flex;
  align-items: center;
  padding: 7rem;
}

#text-div ul{
  list-style: none;
}

#text-div ul li::before {
  content: "\2022";
  color: rgb(53, 129, 132);
  display: inline-block;
  width: 1rem;
  margin-left: -1em;
}

#text-div ul li {
  margin-bottom: 1rem;
}

.hr-theme-slash-2 {
  display: flex;
}

.hr-line {
  width: 100%;
  position: relative;
  margin: 15px;
  border-bottom: 1px solid #000;
}
.hr-icon {
  position: relative;
  top: 3px;
  color: #ff0000;
}

@media (min-width: 100px) and (max-width: 575px) {
  .programme-full {
    display: block;
  }

  #image-programme {
    padding: 2rem;
    width: 100%;
    height: auto;
  }

  #text-div {
    padding: 0;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
/*  .programme-full {
    display: flex;
    justify-content: space-around;
  }*/

  #image-programme {
    height: 85vh;
    width: auto;
  }

  #text-div {
    padding: 7rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #programme-div {
    padding-left: 15rem;
  }

  #image-programme {
    padding-left: 2rem;
    height: 85vh;
    width: auto;
  }

  #text-div {
    display: flex;
    align-items: center;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #image-programme {
    height: 85vh;
    width: auto;
  }
}

