h1 {
  font-family: 'Tangerine', cursive;
  color: rgb(53, 129, 132);
  text-align: center;
  font-size: 8rem;
}

#date {
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  color: rgb(53, 129, 132);
  text-align: center;
  font-size: 2rem;
}

#image-programme {
  width: 100%;
}

#text-div {
  display: flex;
  align-items: center;
}

.custom-btn {
  background-color: rgb(53, 129, 132);
  border: none;
  color: white;
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
}
